{
  "printWidth": 100,
  "singleQuote": true,
  "tailwindFunctions": ["hlm", "cva", "classes"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
