rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow get, create: if request.auth != null && request.auth.uid == userId;

      match /books/{bookId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /bookTags/{tagId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /readingGoals/{year} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /recipes/{recipeId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /planningEvents/{eventId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /planningReminders/{reminderId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /mealPlan/{mealId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /groceryItems/{itemId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /vault/{documentId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /passwords/{passwordId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /vehicles/{vehicleId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;

        match /refuels/{refuelId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
        }
      }
    }
  }
}
